.Main-Set>h1{
     color: #FFD700;
}

.Main-Set>.movies{
     display: flex;
     flex-direction: row;
     justify-content: start;
     align-items: center;
     flex-wrap: nowrap;
     gap: 20px;
     margin-left: 5%;
     margin-right: 3%;
     scrollbar-width: none;
     overflow-x: auto;
}